recursive-include wazo_plugind_admin_ui_context_official/templates *
recursive-include wazo_plugind_admin_ui_context_official/static *
recursive-include wazo_plugind_admin_ui_context_official/translations *
